{{define "body"}}{{ template "menu"}}
<div class="container">

    <div id="refreshtime"></div>
    
    <table width="90%">

        <tr>
            <td>
                <div id="temperatureCGaugeChart" style="border: 1px solid #ccc"></div>
            </td>
            <td>
               <div id="temperatureChart"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="pressureGaugeChart" style="border: 1px solid #ccc"></div>                 
            </td>
            <td>
                <div id="pressureChart"></div> 
            </td>
        </tr>

        <tr>
            <td>
                <div id="humidityGaugeChart" style="border: 1px solid #ccc"></div>       
            </td>
            <td>
                <div id="humidityChart"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="windGustkmhGaugeChart" style="border: 1px solid #ccc"></div>       
            </td>
            <td>
                <div id="windGustChart"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="uvGaugeChart" style="border: 1px solid #ccc"></div>               
            </td>
            <td>
                <div id="indexUVChart"></div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <div id="windSubstainedChart"></div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <div id="rainDailyMmChart"></div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <div id="rainMmChart"></div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <div id="rainRateMm"></div>
            </td>
        </tr>
    </table>


    
    
    
                  
   <div id="humidityPieChart" style="border: 1px solid #ccc"></div>              

</div>
<!-- /.container -->
{{ end }}